 .header-search-option {
      display: flex;
      align-items: center;
      .logo-icon {
        width: 36px;
        height: 36px;
        flex: none;
      }
      .input-option {
        flex: auto;
        margin-left: 12px;
        height: 36px;
        background: rgba(0, 0, 0, 0.65);
        border-radius: 18px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;
        .spn-1 {
          margin-left: 2px;
          font-weight: 400;
          font-size: 14px;
          color: rgba(255, 255, 255, 0.65);
        }
      }
    }