.AppBox{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.flex{
    display: flex;
}
.loading{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}
.column{
    flex-direction: column;
}

.flexBetween {
    justify-content: space-between;
}

.flexCenter{
    justify-content: center;
}

.flexStart{
    justify-content: flex-start;
}

.flexEnd{
    justify-content: flex-end;
}

.flexWrap{
    flex-wrap: wrap;
}